name: Release to npm

on:
  push:

permissions:
  contents: read
  id-token: write 

jobs:
  publish:
    uses: radixdlt/public-iac-resuable-artifacts/.github/workflows/npm-publish.yml@publish-npm-workflow
